$primary: #e34c67;
$accent-color: #c62368;

.container-fluid {
  padding-top: 56px;
}

.error {
  color: crimson;
  font-size: 0.8rem;
  height: 1rem;
}

@import '~material-icons/iconfont/material-icons.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// #001220
// #263238
// #E34C67
// #EF5F67
// #BA68C8
